<div class="row">
    <div class="col-md-12">
        <h1>What language do you want the flashcards for?</h1>
    </div>
</div>
<div class="row welcome-language-picker">

    <% for(var i=0; i<languages.length;i++){
       var lang = languages[i];%>
    <div class="col-md-4">
        <form action="set-language" method="POST">
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <img src="/flashcard-images/<%= lang.image%>"/>
            </div>
            <div class="col-md-2"></div>
            </div>
            <div class="row set-language-button-row">
                <input type="hidden" name="language" value="<%= lang.language %>"/>
                <input class="btn btn-primary" type="submit" value="<%= lang.name %>"/>
            </div>
        </form>
    </div>
    <%}%>
</div>